body{
    background-color: #eede01;
    /* background-repeat: no-repeat;
    background-size: cover; */
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.5px;
}

.container {
    position: fixed;
    border-radius: 20px;
    padding: 40px;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(248, 238, 216, 0.308); */
    background-color: #eede01;
    box-shadow: inset -20px -20px 22px #ffeb64, inset 20px 20px 22px #cc9200;
}

.text-input{
    border-radius: 15px;
    display: block;
    width: 95.5%;
    background-color: #eede01;
    box-shadow: 10px 10px 15px #be7c00;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
}

.add-btn{
    border-radius: 15px;
    display: block;
    width: 100%;
    border: none;
    background-color: #eede01;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 2.5px;
    box-shadow: 10px 10px 15px #be7c00;
}

.add-btn:hover {
    background-color: #ffeb64;
    box-shadow: 0px 15px 20px #cc9200;
    color: black;
    /* transform: translateY(-7px); */
  }

.dropbtn {
    background-color: #eede01;
    box-shadow: 10px 10px 15px #be7c00;
    border-radius: 15px;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 2.5px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    align-content:flex-end;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #eede01;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ffeb64;
    /* box-shadow: 0px 15px 20px #db9f02; */
    }

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {
    background-color: #db9f02;
    /* box-shadow: 0px 15px 20px #db9f02; */
    }

    .reset-btn {
      border-radius: 15px;
      display: block;
      width: 100%;
      border: none;
      background-color: #eede01;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
      letter-spacing: 2.5px;
      box-shadow: 10px 10px 15px #be7c00;
    }

    .error {
        color: red;
    }

    .town {
        background-color: #eede01;
        box-shadow: 10px 10px 15px #be7c00;
        border-radius: 15px;
        color: black;
        padding: 10px 20px;
        font-size: 16px;
        letter-spacing: 2.5px;
        border: none;
    }
    .chip {
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-radius: 25px;
        background-color: silver;
        border: 2px solid black;
        margin: 0 1em 1em;
    }